$font-main: 'Oswald', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

$yellow: #F2E205;
$darkyellow: #A69C14;
$gray: #A69281;
$black: #0D0D0D;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $font-main;
  font-weight: bolder;
  background-color: $yellow;
  color: $black;
}

@mixin font-title {
  font-size: 3.4rem;
  text-align: center;
  line-height: 30px;
}

@mixin font-subtitle {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

@mixin font-text {
  font-size: 1.4rem;
  font-weight: lighter;
}

@mixin font-element {
  font-size: 1.1rem;
  font-weight: lighter;
}

@mixin button {
  button {
    @include font-text;
    font-family: $font-main;
    margin: 20px 10px 10px;
    padding: 10px 10px;
    background-color: $black;
    color: white;
    border: none;
  }
  button:hover {
    box-shadow: 6px 6px 10px 0px $gray;;
    color: $black;
    background-color: $yellow;
  }
}

@mixin footer {

  footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    div.footer {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-flow: column nowrap;
      @include font-text;
      a {
        font-family: $font-main;
        font-weight: bold;
      }
      a:link {
        text-decoration: none;
      }
      a:visited {
        color: $black;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

section.home {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 5px;
  @include font-subtitle;
  div.home__img {
    width: 30px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Home_Icon.svg/512px-Home_Icon.svg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  a:visited {
    color: $black;
  }
  a:link {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

