@use 'base';

header {
  min-height: 90px;
  margin: 3vh;
  margin-bottom: 50px;
  div.header {
    width: 90%;
    height: 100%;
    min-width: 261.672px;
    min-height: 90px;
    margin: auto;
    box-shadow: 6px 6px 10px 0px base.$gray;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    div.header__title {
      padding: 10px 0;
      align-self: center;
      flex: 2;
      h1 {
        @include base.font-title;
      }
    }
    div.header__img {
      background-image: url(http://pngimg.com/uploads/dog/dog_PNG2447.png);
      background-size: 110px;
      background-repeat: no-repeat;
      background-position: top center;
      flex: 1;
      margin: 15px 0px 0px;
    }
  }
}

section.form {
  margin: 3vh;
  div.main {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 5px 15px 20px;
    box-shadow: 0px 0px 8px 0px base.$darkyellow;
    h2 {
    @include base.font-subtitle;
    margin-bottom: 20px;
    }
    .main__form {
      @include base.font-text;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      form {
        margin: 10px 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 5px;
        div {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          gap: 10px;
          margin: 5px 0 15px;
        }
        input {
          @include base.font-text;
          font-family: base.$font-main;
          text-align: right;
          padding: 5px 0;
          border: none;
          border-bottom: 1px solid base.$black;
          background-color: transparent;
        }
        input:focus {
          outline: none;

        }
        @include base.button;
      }
    }
  }
  div.result {
    @include base.font-text;
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 10px 15px 20px;
    box-shadow: 0px 0px 8px 0px base.$darkyellow;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: base.$gray;
  }
}

footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  div.footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    @include base.font-text;
    a {
      font-family: base.$font-main;
      font-weight: bold;
    }
    a:link {
      text-decoration: none;
    }
    a:visited {
      color: base.$black;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}