@use 'base';

header {
  min-height: 90px;
  margin: 3vh;
  margin-bottom: 50px;
  div.header {
    width: 90%;
    height: 100%;
    min-width: 261.672px;
    min-height: 90px;
    margin: auto;
    box-shadow: 6px 6px 10px 0px base.$gray;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    div.header__title {
      padding: 10px 0;
      align-self: center;
      flex: 2;
      h1 {
        @include base.font-title;
      }
    }
    div.header__img {
      background-image: url(http://pngimg.com/uploads/dog/dog_PNG2426.png);
      background-size: 160px;
      background-repeat: no-repeat;
      background-position: top center;
      flex: 1;
    }
  }
}