$font-main: 'Oswald', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

$yellow: #F2E205;
$darkyellow: #A69C14;
$gray: #A69281;
$black: #0D0D0D;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $font-main;
  background-color: yellow;
  color: $gray;
}

