* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  background-color: #F2E205;
  color: #0D0D0D;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section.home {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
section.home div.home__img {
  width: 30px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Home_Icon.svg/512px-Home_Icon.svg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
section.home a:visited {
  color: #0D0D0D;
}
section.home a:link {
  text-decoration: none;
}
section.home a:hover {
  text-decoration: underline;
}

header {
  min-height: 90px;
  margin: 3vh;
  margin-bottom: 50px;
}
header div.header {
  width: 90%;
  height: 100%;
  min-width: 261.672px;
  min-height: 90px;
  margin: auto;
  box-shadow: 6px 6px 10px 0px #A69281;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}
header div.header div.header__title {
  padding: 10px 0;
  align-self: center;
  flex: 2;
}
header div.header div.header__title h1 {
  font-size: 3.4rem;
  text-align: center;
  line-height: 30px;
}
header div.header div.header__img {
  background-image: url(http://pngimg.com/uploads/dog/dog_PNG2435.png);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: top center;
  flex: 1;
  margin-top: 10px;
}

section.input {
  margin: 3vh;
}
section.input div.main {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 5px 15px 20px;
  box-shadow: 0px 0px 8px 0px #A69C14;
}
section.input div.main h2 {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
section.input div.main input {
  font-size: 1.4rem;
  font-weight: lighter;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid #0D0D0D;
  background-color: transparent;
}
section.input div.main input:focus {
  outline: none;
}
section.input div.main button {
  font-size: 1.4rem;
  font-weight: lighter;
  font-family: "Oswald", sans-serif;
  margin: 20px 10px 10px;
  padding: 10px 10px;
  background-color: #0D0D0D;
  color: white;
  border: none;
}
section.input div.main button:hover {
  box-shadow: 6px 6px 10px 0px #A69281;
  color: #0D0D0D;
  background-color: #F2E205;
}
section.input div.main div.form--input p {
  margin-bottom: 15px;
}
section.input div.main div.form--input .buttons {
  font-size: 1.4rem;
  font-weight: lighter;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
section.input div.main div.form--input .buttons :first-child {
  margin-left: calc(47.5% - 45px);
  margin-right: calc(47.5% - 45px);
}
section.input div.main div.form--input form {
  font-size: 1.4rem;
  font-weight: lighter;
  margin: 10px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 5px;
}
section.input div.main .form--input {
  font-size: 1.4rem;
  font-weight: lighter;
}

section.person .person {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}
section.person .person .element {
  font-size: 1.1rem;
  font-weight: lighter;
  box-shadow: 3px 3px 10px 1px black;
  padding: 5px 5px;
}

section.analysis p {
  font-size: 1.4rem;
  font-weight: lighter;
  text-align: center;
}

footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column nowrap;
  font-size: 1.4rem;
  font-weight: lighter;
}
footer div.footer a {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
footer div.footer a:link {
  text-decoration: none;
}
footer div.footer a:visited {
  color: #0D0D0D;
}
footer div.footer a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=salarios.css.map */
